@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --primary-color: #071714;
    --accent-color: #91aeff;
    --text-color: #e3e3e3;
    --black: #000;
    --body-text-color: #bbb;
    --border-color: #bbbbbb50;
}

@font-face {
    font-family: 'SourceCode';
    src: url('/sourcecode.ttf') format('truetype');
    font-weight: 100 900; 
    font-stretch: 75% 125%; 
    font-style: normal;
}

.logo {
  font-family: 'SourceCode';
  color: var(--accent-color);
}

body {
    background-color: #100f17;
    color: var(--text-color);
    background-image:  linear-gradient(#113f3760 0.5px, transparent 0.5px), linear-gradient(90deg, #113f3760 0.5px, transparent 0.5px);
    background-size: 40px 40px;
    background-position: -2px -2px;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30%;
  background: linear-gradient(to right, #100f17, transparent);
  pointer-events: none;
  z-index: 5;
}

.right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 30%;
  background: linear-gradient(to left, #100f17, transparent);
  pointer-events: none;
  z-index: 5;
}

.active {
  background-color: #242234;
  color: var(--accent-color);
}

.emphasized {
  color: var(--accent-color);
}