@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #071714;
  --accent-color: #41ffc9;
  --secondary-color: #14211d;
  --text-color: #e3e3e3;
  --black: #000;
  --body-text-color: #bbb;
  --border-color: #bbbbbb50;
}

@font-face {
  font-family: "SourceCode";
  src: url("/sourcecode.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  scrollbar-width: none;
}

.logo {
  font-family: "SourceCode";
  color: var(--accent-color);
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, #14211d, #0f1815);
  z-index: 1000;
}

.loading-logo {
  color: var(--accent-color);
  font-size: 1.6rem;
  opacity: 0;
  font-family: "SourceCode", sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  background-image: linear-gradient(#113f3780 0.5px, transparent 0.5px),
    linear-gradient(90deg, #113f3780 0.5px, transparent 0.5px);
  background-size: 40px 40px;
  background-position: -2px -2px;
  font-weight: 100;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30%;
  background: linear-gradient(to right, #071714, transparent);
  pointer-events: none;
  z-index: 5;
}

.right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 30%;
  background: linear-gradient(to left, #071714, transparent);
  pointer-events: none;
  z-index: 5;
}

.emphasized {
  color: var(--accent-color);
}

.profile-img {
  border-radius: 99rem;
  background-color: var(--primary-color);
  width: 230px;
}

.border {
  border: 0.01rem solid #ffffff30;
}

.bg-secondary {
  background-color: var(--secondary-color);
}
.skills-wrapper {
  background-color: #113831;
}

.headline-caps {
  letter-spacing: 6px;
  text-transform: uppercase;
}

.btn {
  position: relative;
  padding: 1rem 1.3rem;
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.1rem solid var(--accent-color);
  transition: background-color 300ms ease;
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-color);
  color: #000;
}

.skill {
  border-radius: 0.3rem;
  padding: 0.1rem 0.2rem;
  border: 0.05rem solid #41ffc9;
  color: #41ffc9;
  font-size: 0.7rem;
}

.project-card {
  transition: background-color 150ms ease;
}

.project-card:hover {
  background-color: var(--primary-color);
  outline: 1px solid var(--accent-color);
}

.link {
  position: relative;
  padding-block: 0.3rem;
}

.link::after {
  content: "";
  width: 100%;
  height: 0.13rem;
  position: absolute;
  background-color: var(--body-text-color);
  bottom: 0;
  left: 0;
  transform: scale(0);
  transform-origin: right;
  transition: transform 500ms ease;
}
.link:hover::after,
.link.active::after {
  transform: scale(1);
  transform-origin: left;
}

@media (max-width: 700px) {
  .profile-img {
    width: 100px;
  }
  .loading-screen {
    justify-content: start;
    padding-top: 20rem;
  }
}

.fade-box {
  opacity: 0;
  width: 100%;
  animation: fade 200ms ease-in-out forwards;
  transform-origin: left;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.backdrop-animation {
  /* backdrop-filter: blur(0px); */
  animation: backdrop 200ms ease-in-out forwards;
}

@keyframes backdrop {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(10px);
  }
}

.fade-box.hide {
  animation: fade-out 200ms ease-in-out forwards;
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.backdrop-animation.hide {
  animation: backdrop-out 200ms ease-in-out forwards;
}

@keyframes backdrop-out {
  0% {
    backdrop-filter: blur(10px);
  }
  100% {
    backdrop-filter: blur(0px);
  }
}
